<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'recipient_manager:home' %}">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'recipient_manager:recipient_list' %}">Recipients</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'message_manager:messages_list' %}">Messages</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'mailing:mailing_list' %}">Mailing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'mailing:attempt_list' %}">'Statistics'</a>
          </li>
          {% if user.is_authenticated %}
            <li><a href="{% url 'users:logout' %}" class="text-white">Выйти</a></li>
            {% else %}
            <li class="nav-item">
              <a href="{% url 'users:login' %}" class="text-white">Войти</a></li>
            <li class="nav-item">
              <a href="{% url 'users:register' %}" class="text-white">Зарегистрироваться</a></li>
            {% endif %}
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>